@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("/images/bg-intro-mobile.png");
  background-color: #ff7a7a;
}

main {
  height: 100vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container {
  margin: auto 20px;
  padding: 40px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.container .left {
  color: white;
}

.container .left h1 {
  padding-bottom: 20px;
}

.container .left p {
  font-size: 16px;
  padding: 5px;
}

.container .right .free {
  background-color: #6055a5;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 6px 0 0 #d16464;
          box-shadow: 0 6px 0 0 #d16464;
}

.container .right .free p {
  color: #b9b6d3;
  padding: 10px;
  font-size: 15px;
}

.container .right .free p span {
  font-weight: 700;
  color: white;
}

.container .right .form-body {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 0 0 #c75f5f;
          box-shadow: 0 5px 0 0 #c75f5f;
  position: relative;
}

.container .right .form-body #fname {
  position: absolute;
  right: 40px;
  top: 25px;
  display: none;
}

.container .right .form-body #lname {
  position: absolute;
  right: 40px;
  top: 92px;
  display: none;
}

.container .right .form-body #email {
  position: absolute;
  right: 40px;
  top: 159px;
  display: none;
}

.container .right .form-body #pass {
  position: absolute;
  right: 40px;
  top: 226px;
  display: none;
}

.container .right .form-body input {
  width: 90%;
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 10px;
  margin: 15px 15px 0 15px;
  border: 1px solid lightgray;
}

.container .right .form-body input:focus {
  outline: none !important;
  border: 1px solid blue;
  font-family: 'Poppins', sans-serif;
}

.container .right .form-body ::-webkit-input-placeholder {
  color: gray;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.container .right .form-body :-moz-placeholder {
  color: gray;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.container .right .form-body ::-moz-placeholder {
  color: gray;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.container .right .form-body :-ms-input-placeholder {
  color: gray;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.container .right .form-body button {
  background-color: #38cc8c;
  border: none;
  outline: none;
  width: 90%;
  height: 50px;
  margin: 15px 0;
  color: white;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 1px 1px #30aa75;
          box-shadow: 0 3px 1px 1px #30aa75;
}

.container .right .form-body .terms {
  padding: 5px 30px 30px 30px;
  font-size: 12px;
  font-weight: 500;
  color: #b9b6d3;
}

.container .right .form-body .terms span {
  color: #ff7a7a;
  font-weight: 700;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.error #emailimg {
  display: block;
}

@media screen and (min-width: 785px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    padding: 0 35px 0 20%;
  }
  .left h1 {
    margin: 0;
    text-align: left;
    font-size: 45px;
  }
  .left p {
    font-size: 16px;
  }
  .right {
    padding: 0 20% 0 35px;
  }
}
/*# sourceMappingURL=main.css.map */